<div class="dashed-article-page">
<div class="sign_form">
<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Почта" %><br />
  <%= f.email_field :email, :autofocus => true, type: "email", class: "form-control", placeholder:"Ваш e-mail..." %></div>

  <div><%= f.label "Пароль" %><br />
  <%= f.password_field :password, type: "password", class: "form-control", placeholder: "Ваш пароль" %></div>

  <div><%= f.label "Подтверждение пароля" %><br />
  <%= f.password_field :password_confirmation, type: "password", class: "form-control", placeholder: "Повторите пароль" %></div>

  <div><%= f.submit "Зарегистрироваться", class: "btn btn-lg btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<!-- Footer -->
<div class="block-footer-push"></div>
</div>