<div class="dashed-article-page">
<div class="sign_form">
<h1>Забыли пароль?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, :autofocus => true, type: "email", class: "form-control", placeholder:"Ваш e-mail" %></div>

  <div><%= f.submit "Восстановить пароль", class: "btn btn-lg btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
<!-- Footer -->
<div class="block-footer-push"></div>
</div>
</div>