<a href="#comments"></a>
<div class="media">
<% @post.comments.each do |comment| %>
    <div class="media-body">
      <div class="media-heading">
        <strong><%= comment.user.name %></strong> оставил комментарий <%= l comment.created_at, format: :long %>
      </div>
      <div class="comment-wrapper"><%= simple_format(comment.body) %></div>
    </div>
<% end %>
</div>
