<% if user_signed_in? %>
  <%= form_for ([@post, @post.comments.build]) do |f| %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit "Отправить", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <div>Чтобы оставлять комментарии, нужно 
    <%= link_to "зарегистрироваться", new_user_registration_path %>
    или 
    <%= link_to "войти", new_user_session_path %>
    под своим аккаунтом.
  </div>
<% end %>  