<%= form_for post do |form| -%>
  <%= form.text_field :title, class: "form-control" %>
  <%= form.select :category_id, Category.find(:all).collect { |a| [a.name, a.id] }, { include_blank: true }, { class: "selectpicker", id: "selectpicker", selected: @post.category_id,  } %>
  <%= form.cktext_area :body, :id => "ckeditor", toolbar: "Easy" %>
  <div class="bottom-btn-toolbar">
    <% if @post.status == 0 or params[:action] == 'new' %>
      <%= form.submit "Опубликовать пост", class: "btn btn-success btn-lg", name: "publish" %>
      <%= form.submit "Сохранить в черновиках", class: "btn btn-warning btn-lg", name: "draft" %>
    <% else %> 
      <%= form.submit "Сохранить изменения", class: "btn btn-success btn-lg", name: "publish" %>
      <%= form.submit "Убрать в черновики", class: "btn btn-warning btn-lg", name: "draft" %>
    <% end %>
  </div>  
<% end -%>