  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="pull-left">
        <div class="menu-item"><i class="icon-edit"></i> <%= link_to "Написать пост", new_post_path %></div>  
        <div class="menu-item"><i class="icon-book"></i> <%= link_to "Черновики", controller: :posts, action: :draft_list %></div>
        <div class="menu-item"><i class="icon-bar-chart"></i> Статистика</div>
      </div>  
      <div class="pull-right">
        <i class="icon-signout"></i> <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
      </div>      
    </div>
  </div>