<!-- Article -->
<div class="article-container">
<div class="post-date-blue">
  <p class="post-date-text-blue">
    <i class="icon-calendar-empty"></i> 
    <%= l post.created_at, format: :short %>
  </p>
</div>
<div class="post-title">
<h1>
  <%= link_to post.title, post %>
</h1>
<div class="tag-wrapper">
  <% if post.status == 0 %>
    <div class="badge tag">черновик</div>
  <% end %>
</div>  
</div>
<div class="article">
  <%= raw before_cut(post.body) %>
</div>
<% if has_cut?(post.body) %>
  <%= link_to "Читать далее", post, class: "btn btn-lrg btn-primary read-next" %></button>
<% end %>
<%= image_tag('separator.png', class: 'separator') %>
<p class="article-statistic pull-left"><i class="icon-eye-open"></i> просмотров: <%= post.views %></p>
<p class="article-statistic pull-right"><i class="icon-comment"></i> комментариев:  <%= post.comments.count %> </p>
</div>