<!-- ACTION: EDIT -->
<%= form_for @post do |f| %>
  
  <%= f.text_field :title, class: "form-control" %>
  <%= render 'shared/toolbar' %>
  <%= f.text_area :body, id: 'wysihtml5-textarea' %>
  <div class="bottom-btn-toolbar">
    <% if @post.status == 0 %>
      <%= f.submit "Опубликовать пост", class: "btn btn-success btn-lg", name: "publish" %>
      <%= f.submit "Сохранить в черновиках", class: "btn btn-warning btn-lg", name: "draft" %>
    <% else %> 
      <%= f.submit "Сохранить изменения", class: "btn btn-success btn-lg", name: "publish" %>
      <%= f.submit "Убрать в черновики", class: "btn btn-warning btn-lg", name: "draft" %>
    <% end %>
  </div>
<% end %>

<script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "wysihtml5-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
   // html: true, //Button which allows you to edit the generated HTML. Default false
  }); 
</script>  
<div class="block-footer-push"></div>

<!-- ACTION: NEW -->

<%= form_for @post do |f| %>
  
  <%= f.text_field :title, class: "form-control", placeholder: "Заголовок поста" %>
  <%= render 'shared/toolbar' %>
  <%= f.text_area :body, id: 'wysihtml5-textarea', placeholder: 'Ваш шедевр туточки' %>
  <div class="bottom-btn-toolbar">
    <a class="btn btn-primary btn-lg">Предпросмотр</a>
    <%= f.submit "Опубликовать", class: "btn btn-success btn-lg", name: "publish" %>
    <%= f.submit "В черновики", class: "btn btn-warning btn-lg", name: "draft" %><!--
    <a class="btn btn-warning btn-lg">В черновики</a> -->
  </div>
<% end %>

<script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "wysihtml5-toolbar", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
</script> 