<div class="dashed-article-page">
<div class="sign_form">

<h2>Войти на сайт</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Почта" %><br />
  <%= f.email_field :email, :autofocus => true, type: "email", class: "form-control", placeholder:"Ваш e-mail..." %></div>

  <div><%= f.label "Пароль" %><br />
  <%= f.password_field :password, type: "password", class: "form-control", placeholder: "Ваш пароль..." %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox"><label> <%= f.check_box :remember_me %> Запомнить меня</label></div>
  <% end -%>

  <div><%= f.submit "Войти", class: 'btn btn-success btn-lg' %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
<!-- Footer -->
<div class="block-footer-push"></div>
</div>