    <div class="dashed-article-page">
      
      <% @posts.each do |p| %>
        <%= render 'shared/single_article', post: p %>
      <% end %>
      <%= will_paginate @posts %>
      <div class="block-footer-push"></div>
    </div>