      <!-- Article -->
    <div class="dashed-article-page">
    <div class="content-wrapper">
    <% if @post.nil? %>
      <h1>Пост не найден</h1>
    <% else %>
      <% if @post.status == 1 or (user_signed_in? and @post.user_id == current_user.id) %>
        <div class="post-date-blue">
          <p class="post-date-text-blue">
            <i class="icon-calendar-empty"></i> 
            <%= l @post.created_at,  format: :short %>
          </p>
        </div>
        <div class="post-title">
          <h1>
            <%= @post.title %>
          </h1>
          <% if user_signed_in? %>
            <p>
              <%= link_to "Редактировать", edit_post_path(@post) %>
            </p><p>
              <%= link_to 'Удалить', post_path(@post), data: { confirm: 'Уверен?' }, :method => :delete %>
            </p>
          <% end %>
        </div>
        <div class="article">
          <%= raw delete_cut(@post.body) %>
        </div>
        <div class="under-article">
          <p>Комментарии (<%= @post.comments.count %>)</p>
        </div>
        <%= image_tag('separator.png', class: 'separator') %>

        <!-- Comments -->
        <div class="block-comments"> 
          <%= render "shared/comments" %>
          <%= render 'shared/comment_form' %> 
        </div>   
      <% else %>
        <h1>У вас нет прав для просмотра этого поста</h1>
      <% end %>  
    <% end %>  
      <!-- Footer -->
      <div class="block-footer-push"></div>
    </div>
    </div>