@font-face {
  font-family: "Action Man";
  src: url(<%= asset_data_uri 'Action Man.ttf' %>) format("truetype");
}

@font-face {
	font-family: "Consolas Bold";
	src: url(<%= asset_data_uri 'consolab.ttf' %>) format("truetype");
}

html {
	height: 100%;
}

select {
	margin-bottom: 10px;
	width: 200px;
}

.body_orange_w_navbar {
	background-image: url(<%= asset_data_uri 'background.png' %>);
	background-repeat: repeat;	
	height: 100%;
	padding-top: 50px;  
}

.body_orange_no_navbar {
	background-image: url(<%= asset_data_uri 'background.png' %>);
	background-repeat: repeat;	
	height: 100%;
	padding-top: 0px;  
}

.navbar-default {
	border: inset 2px #000000;
	border-right: none;
	border-left: none;
	border-top: none;
	background-color: #052638;
	background-image: none;
}

.navbar-default .container {
	margin: 0px auto;
	width: 1000px;
	font-family: Arial;
	font-size: 18px;
	color: #6f9bff;
	padding-top: 13px;
}

.navbar .menu-item {
	width: 200px;
	margin: 0;
	padding: 0;
	float: left;
}

.navbar .menu-item a {
	text-decoration: none;
}

.navbar .menu-item a:visited {
	color: #6f9bff;
}

.navbar .pull-right .menu-item {
	width: 200px;
	margin: 0;
	padding: 0;
	float: right;
}


.blog-name {
	text-align: right;
	font-family: Action Man;
	font-size: 50px;
	color: #ffffff;
	padding: 7px 30px;
}

.page-header {
	background-image: url(<%= asset_data_uri 'header-bg.png' %>);	
	width: 1000px;
	height: 100px;
	float: none;
	margin: 0 auto;
}

.page-header a {
	display: block;
	text-decoration: none;
}

.header-stripe {
	z-index: 10;
	text-align: justify;
	padding-top: 6px;
	font-family: Consolas Bold;
	font-size: 18px;
	margin-top: 5px;
	margin-left: -5px;
	width: 1010px;
	height: 40px;
	background-image: url(<%= asset_data_uri 'header-stripe.png' %>);
	box-shadow: 0 1px 3px 1px;
}

.menu-stripe {
	margin-left: -20px;
	margin-right: 20px;
	margin-top: 2px;
	font: 14px Consolas Bold;
	text-align: justify;
		
	/* Обнуляем для родителя*/
	line-height: 0;
	font-size: 1px; /* 1px для Opera */
		
	/* Лекарство для IE6-7*/		
	text-justify: newspaper;
	zoom:1;
		
	/* Включаем в работу последнюю строку*/		
		text-align-last: justify;	
}

.menu-stripe:after {
	width: 100%; 
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.menu-stripe li  {
	display: inline-block;
	text-align: left;
			
	/* Востанавливаем у потомков, кроме последнего*/
	line-height: normal;
	font-size: 18px;
	color: #ffffff;
			
	/* Без него в Opera будет отступ под элементами */
	vertical-align: top; 
			
	/* эмуляция inline-block для IE6-7*/
	//display : inline;
	//zoom : 1;
}

.menu-stripe a {
	color: #ffffff;
}

.menu-stripe-white {
	color: white;
}

.post-date-blue {
	margin-left: -24px;
	margin-top: -5px;
	margin-bottom: 10px;
	width: 257px;
	height: 48px;
	background-image: url(<%= asset_data_uri 'post-date-w-shadow-blue.png' %>);
	background-repeat: no-repeat;	
}

.post-date-text-blue {
	padding-top: 10px;
	padding-left: 18px;
	font-family: Tahoma;
	font-size: 18px;
	color: #ffffff;
	text-shadow: 1px 1px 3px #000;
}

.post-date-dark-blue {
	margin-left: -18px;
	margin-top: 0px;
	width: 263px;
	height: 54px;
	background-image: url(<%= asset_data_uri 'post-date-w-shadow.png' %>); 
	background-repeat: no-repeat;	
}

.post-date-text-dark-blue {
	padding-top: 12px;
	padding-left: 25px;
	font-family: Tahoma;
	font-size: 18px;
	color: #ffffff;
	text-shadow: 1px 1px 3px #000;
}


.container-fixed {
	width: 1000px;
	font-family: Tahoma;
	background-image: url(<%= asset_data_uri 'art_bg.png' %>);
	background-repeat: repeat;		
    margin: 0 auto;
    box-shadow: 0 0 50px 10px;
    padding-bottom: 3px; 
	min-height: 100%;
	margin-bottom: -180px;  /* Отрицательное значение высоты footer'а */
}

.fill {
	height: 100%;
}

.dashed-article-page {
	width: 990px;
	margin: 6px auto;
	margin-bottom: -3px;
	border: 1px dashed #acacac;
	border-bottom: none;
	padding: 10px 10px 10px 10px;
}

.article {
	text-align: left;
	font-family: Tahoma;
	font-size: 14px;
}

.article img {
	margin-bottom: 10px;
}

.article ul, ol {
	margin-top: 5px;
	margin-bottom: 5px;
}

.article-container {
	margin-bottom: 60px;
}

.article-statistic {
	font-family: Tahoma;
	font-style: 14px;
	color: #848484;
}

.under-article {
	width: 970px;
	height: 35px;
}

.under-article p {
	padding-top: 20px;
}

h1 {
	font-family: "Trebuchet MS", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 30px;
	color: #585858;
	margin-top: 0px;
	margin-bottom: 15px;
}

h1 a {
	/* font-family: Trebuchet MS; */
	font-size: 30px;
	font-style: normal;
	color: #585858;
}

h1 a:hover {
	font-style: normal;
	color: #585858;
	text-decoration: none;	
}

.article h1 {
	font-family: Tahoma;
	font-size: 18px;
	font-style: bold;
	color: #000000;
	padding-left: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}

img.separator {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.block-comments {
	padding-top: 10px;
}

.block-footer-push {
	height: 360px;
	clear: both;
}

.block-footer {
	width: 1000px;
	height: 180px; 
	font-family: Trebuchet MS;
	font-size: 12px;
	position: relative;
	bottom: 0px;
	clear: both;
	margin: 0 auto;
	background-image: url(<%= asset_data_uri 'art_bg.png' %>);
	background-repeat: repeat;		
}

.block-footer-dashed {
	width: 990px;
	height: 180px;
	margin: 6px auto;
	margin-bottom: -3px;
	border: 1px dashed #acacac;
	border-bottom: none;
	border-top: none;	
}

.block-footer p {
	position: absolute;
	bottom: -5px;
	right: 100px;
	text-align: left;
}

.block-footer .pull-left {
	position: absolute;
	bottom: -5px;
	left: 20px;
	text-align: left;
}

.block-footer img {
	position: absolute;
	bottom: 0px;
	right: 10px;
	margin-right: 0px;
}

.pop-up {
	visibility: hidden;
    width: 100%;
    min-height: 100%;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.pop-up .pop-up-login {
	visibility: none;  /* для дебага */
	background-image: url(<%= asset_data_uri 'pop-up-bg.png' %>);
	background-repeat: repeat;
	margin: 200px auto 0px auto;
    width: 450px;
    height: 290px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.pop-up .pop-up-register {
	visibility: none;  /* для дебага */
	background-image: url(<%= asset_data_uri 'pop-up-bg.png' %>); 
	background-repeat: repeat;
	margin: 200px auto 0px auto;
    width: 450px;
    height: 430px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.pop-up .pop-up-login .pop-up-dashed{
	width: 440px;
	height: 280px;
	margin: -5px -5px -5px -5px; 
	border: 1px dashed #acacac;
	padding-left: 35px;	
	padding-right: 35px;
}

.pop-up .btn-container {
	display: block;
	padding-top: 10px;
	width: 370px;
}

.pop-up .pop-up-register .pop-up-dashed{
	width: 440px;
	height: 420px;
	margin: -5px -5px -5px -5px; 
	border: 1px dashed #acacac;
	padding-left: 35px;	
	padding-right: 35px;
}

.pop-up h1 {
	font-family: Trebuchet MS;
	font-size: 30px;
	color: #ffffff;
	padding-top: 20px;
	margin-left: -1px;
	margin-bottom: 5px;
}

.pop-up p {
	font-family: Trebuchet MS;
	font-size: 15px;
	margin: 0 0 0 0;
	padding-bottom: 5px;
}

.pop-up .input-group-addon {
	color: #000000;
}

.pop-up .input-group {
	margin-bottom: 10px;
}

.media-body {
	margin-bottom: 10px;
}

.media-body p {

}

.media-body .comment-wrapper {
	border: 1px dashed #acacac;
	border-radius: 5px;
	padding: 9px 9px 0px 9px;	
}

.media-body .form-control {
	margin-top: 40px;
}

ul.pagination {
	margin-left: 0px;
}

.pagination-wrapper {
	margin-top: 35px;
}

.post-title {
	margin-bottom: 10px;
}

.post-title h1, 
.post-title p {
	display: inline;
	padding-top: 20px;
}

.tag-wrapper {
	position: absolute;
	padding-left: 10px;
	padding-top: 4px;
	display: inline;
}

.tag {
	font-family: Tahoma;
	font-size: 14px;
}

.form-control {
	margin-bottom: 10px;
}

.bottom-btn-toolbar {
	margin-top: 10px;
}

.sign_form {
	margin-left: 20px;
	margin-top: 20px;
}

.sign_form h1 {
	font-family: Tahoma;
}

.sign_form h2 {
	color: #585858;
}

.sign_form .form-control {
	width: 300px;
}

.sign_form .btn {
	width: 300px;
}

.sign_form .normal {
	font-weight: normal;
}

/* ------------------- */ 
/* Devise stylesheets  */
/* ------------------- */

#error_explanation h2 {
	font-size: 14px;
}