<p>О, привет, <%= @resource.email %>! А я тебя знаю!</p>

<p>По всей видимости, ты забыл пароль от своей учетной записи в моем блоге. Чтобы восстановить его, нажми на ссылку ниже:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>