<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <title>Nattfodds Lair</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
    CKEDITOR.config.contentsCss = "
    <% asset_path('main.css') %>
    ";
    
    $('.selectpicker').selectpicker();
  </script>
</head>
  <% if user_signed_in? %>
    <body class="body_orange_w_navbar">
    <%= render "shared/navbar" %>
  <% else %>
    <body class="body_orange_no_navbar">
  <% end %>

  <div class="container-fixed">
    <div class="page-header">
    <%= link_to root_url do %>
      <p class="blog-name">Nattfodd's Lair</p>
    <% end %>
    </div>

    <div class="header-stripe">
      <ul class="menu-stripe">
        <% @cat = Category.find(:all) %>
        <% @cat.each do |c| %>
          <li><%= link_to c.name, c %></li>
        <% end %> 
      </ul>
    </div>   

    <p class="notice hidden"><%= notice %></p>
    <p class="alert hidden"><%= alert %></p>

<%= yield %>

  </div>
  <div class="block-footer">
    <div class="block-footer-dashed">
      <p class="pull-left">
        <% unless user_signed_in? %>
        <%= link_to 'Войти на сайт', new_user_session_path %>
        <% end %>
      </p>
      <p>Copyright by <a href="mailto:mail@nattfodd.com">Oleksii Kuznietsov</a> 2010-2013</p>
       <%= image_tag('boy.png', alt: 'img-boy') %>
    </div> 
  </div>  
  <div class="pop-up">
    <div class="pop-up-register">
      <div class="pop-up-dashed">
        <h1>Регистрация:</h1>
        <p>Ник:</p>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="login">        
        </div>
        <p>Почта:</p>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="e-mail">       
        </div>    
        <p>Пароль:</p>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="password">       
        </div>              
        <p>Повторите пароль:</p>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="password one more time">       
        </div>  
        <div class="btn-container">
          <button type="button" class="btn btn-primary btn-lg pull-left">Отменить</button>
          <button type="button" class="btn btn-success btn-lg pull-right">Зарегистрироваться</button>
        </div>                
      </div>
    </div>      
  </div>  
</body>
</html>
